<section class="book-app">

    <header class="header">
      <h1>Book</h1>
      <input class="new-book" placeholder="Enter New Book" autofocus>
    </header>

    <footer class="footer">
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/to-be-read">To Be Read</a>
        </li>
        <li>
          <a href="#/read">Read</a>
        </li>
      </ul>
      <button class="clear-read">Clear read</button>
    </footer>
  </section>